
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: black;
}

/*heading and logo */

h1, h2 {font-family: Montserrat;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:black;
}

#logo {
    float: left;
    font-size: 200%;
}

/*navigation links*/

#menu {
    font-size: 130%;
    letter-spacing: 3px;
}

#menu, #logo { 
    line-height: 70px;
}

#menu li{
    float:right;
    list-style-type:none;
    margin-right: 35px;
}

#menu a {
    text-decoration: none;
    color: rgb(84, 83, 83);}

    /* cover image*/

#cover-outer{
    height: 700px;
width: 100%;
overflow: hidden;
}

    #cover-image{
        height: 700px;
width: 100%;
background: url('../images/cover-image3.jpg') no-repeat center center;
    }