@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: black;
}

/*heading and logo */

h1,
h2 {
    font-family: Montserrat;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 20px;
}

/*navigation links*/

#menu {
    font-size: 130%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
}

#menu a {
    text-decoration: none;
    color: rgb(84, 83, 83);
}

/* cover image*/

#cover-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#cover-image {
    height: 700px;
    width: 100%;
    background: url('../images/cover-image3.jpg') no-repeat center center;
}

/* About us section */

#about-us {
    height: 700px;
    margin-left: 40px;
    margin-top: 40px;
}

#left-about {
    padding-top: 30px;
    width: 35%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 35%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr{
    border-top: 1px dashed black;
    width: 100%;
    margin: 6px 0;
}

.left-about-heading{
    width: 60%;
    margin-left: 20px;
    line-height: 30px;
    clear: both;
    margin-top: 50px;
    background-color: rgb(221, 218, 218);
}

#welcome {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    font-size: 200%;
}

#right-picture-container{
    width: 500px;
    height: 300px;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: left;
    margin-top: 20px;
}

#picture-cover-bg{
    background: url('../images/rsz_1right_1.jpg') no-repeat center center;
    height: 100%;
}

#right-picture-down{
    width: 500px;
    height: 300px;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

#picture-cover-bg-down{
    background: url('../images/rsz_right_2.jpg') no-repeat center center;
    height: 100%;
}